@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "/public/css/app.css";
#bg {
    background: url("/public/img/mountains.jpg");
    line-height: 1.8;
    background-size: cover;
}